<%- include('partials/header.html') %>

<section class="single-page noticia">
    <div class="center">
        <div class="noticia-single">
            <h2>Confira os principais lançamentos de jogos do segundo semestre de 2024</h2>
            <div class="autor-nome">
                <span>Por Miguel Cirico</span>
            </div>
            <ol>
                <li>Star Wars Outlaws
                    <p>Apresentado como o primeiro título de mundo aberto da série, “Star Wars Outlaws” é uma das grandes apostas futuras da Ubisoft...</p>
                </li>
                <li>Silent Hill 2 Remake
                    <p>Um remake completo do clássico jogo de terror.</p>
                </li>
                <li>Call of Duty: Black Ops 6
                    <p>O retorno da aclamada série Black Ops com novas mecânicas e modos multiplayer.</p>
                </li>
                <li>Black Myth Wukong
                    <p>Um RPG de ação inspirado no folclore chinês, focado no herói Sun Wukong.</p>
                </li>
                <li>Dragon Ball Sparking Zero
                    <p>O retorno do lendário jogo de lutas com os personagens icônicos de Dragon Ball.</p>
                </li>
            </ol>
        </div>
        
        <div class="mais-lidas">
            <h3>Mais Lidas</h3>
            <div class="mais-lidas-noticia-single">
                <img src="/public/images/bmw.png" />
                <div class="texto-mais-lidas-single">
                    <h4>Black Myth: Wukong</h4>
                    <p>Sucesso estrondoso: após forte lançamento, game alcança 20 milhões de cópias vendidas em um mês.</p>
                    <a href="/ofertas">Saiba mais</a>
                </div>
            </div>
            <div class="mais-lidas-noticia-single">
                <img src="/public/images/fort.png" />
                <div class="texto-mais-lidas-single">
                    <h4>Fortnite</h4>
                    <p>Com o poder da Caixa de Pandora, Doutor Destino se estabeleceu na Ilha do Battle Royale.</p>
                    <a href="/ofertas">Saiba mais</a>
                </div>
            </div>
            <div class="mais-lidas-noticia-single">
                <img src="/public/images/steam.png" />
                <div class="texto-mais-lidas-single">
                    <h4>Steam</h4>
                    <p>Dragon Ball Sparking Zero já é o maior jogo de anime da história na plataforma Steam.</p>
                    <a href="/ofertas">Saiba mais</a>
                </div>
            </div>
            <div class="mais-lidas-noticia-single">
                <div class="imagem-quadrada"> <!-- Adicionada div para imagem quadrada -->
                    <img src="/public/images/fc25.png" />
                </div>
                <div class="texto-mais-lidas-single">
                    <h4>EA</h4>
                    <p>A grande novidade de EA FC 25 é o modo Rush. Baseado em competições como Kings League, ele permite que cada jogador controle um atleta, em times de cinco integrantes, onde o goleiro é controlado pela CPU.</p>
                    <a href="/ofertas">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer.html') %>
